<div class="browse">
  <form action="/" method="GET" id="carSearch">
    <section class="searchBar">
      <input placeholder="   Search..." />
      <button type="submit">Search</button>
      <div class="filter">
        <i class="fa-solid fa-filter"></i>
      </div>
    </section>

    <section class="filterOptions">
      <div>
        <label for="carMake">Make</label>
        <select id="carMake">
          <option value="">Select a Make</option>
        </select>
      </div>
      <div>
        <label for="carMake">Model</label>
        <select id="carModel">
          <option value="" data-tag="">Select a Model</option>
        </select>
      </div>
      <div>
        <label for="transmission">Transmission</label>
        <select id="carTransmission">
          <option value="">Select an Option</option>
          <option value="Automatic">Automatic</option>
          <option value="Manual">Manual</option>
        </select>
      </div>
      <div>
        <label for="year">Min Year</label>
        <input type="number" name="minYear" placeholder="Year" id="minYear" />

        <label for="year">Max Year</label>
        <input type="number" name="maxYear" placeholder="Year" id="maxYear" />
      </div>
      <div>
        <label for="minPrice">Min Price</label>
        <input
          type="number"
          name="minPrice"
          placeholder="Min Price"
          id="minPrice"
        />
        <label for="maxPrice">Max Price</label>
        <input
          type="number"
          name="maxPrice"
          placeholder="Max Price"
          id="maxPrice"
        />
      </div>
    </section>
  </form>
</div>
