<div class="browse">
  <form action="/" method="GET" id="carSearch">

    <section class="searchBar">
      <input placeholder="   Search..." />
      <button type="submit">Search</button>
      <div class="filter">
        <i class="fa-solid fa-filter"></i>
      </div>
    </section>

    <section class="filterOptions">
      <div class="multiSelect">
        <div>
          <label for="carMake">Make</label>
          <select multiple class="carMake" name="carMake" id="carMake">
            <option value="Honda">Honda</option>
            <option value="Toyota">Toyota</option>
          </select>
        </div>
        <div>
          <label for="transmission">Transmission</label>
          <select id="carTransmission">
            <option value="False">Automatic</option>
            <option value="True">Manual</option>
          </select>
        </div>
      </div>
      <div class="minMax">
        <div>
          <label for="year">Year</label>
          <input type="number" name="minYear" placeholder="Min" id="minYear" />
          <input type="number" name="maxYear" placeholder="Max" id="maxYear" />
        </div>
        <div>
          <label for="Price">Price</label>
          <input type="number" name="minPrice" placeholder="Min" id="minPrice"/>
          <input type="number" name="maxPrice" placeholder="Max" id="maxPrice"/>
        </div>
      </div>
    </section>
  </form>
</div>
