<div class="browse">
  <form action="/listing/browse" method="GET" id="carSearch">

    <section class="searchBar">
      <input name="search" placeholder="Search..." />
      <button type="submit">Search</button>
      <div class="filter">
        <i class="fa-solid fa-filter"></i>
      </div>
    </section>

    <section class="filterOptions">
      <div class="multiSelect">
        <div>
          <label for="carMake">Make</label>

          <select multiple class="carMake" name="carMake[]" id="carMake">

            <option value="Honda">Honda</option>
            <option value="Toyota">Toyota</option>
          </select>
        </div>
        <div>
          <label for="transmission">Transmission</label>
          <select name='transmission' id="carTransmission">
            <option value="False">Automatic</option>
            <option value="True">Manual</option>
          </select>
        </div>
        <div class="rangeSlider">
          <label>Price range</label>
          <div class="sliderInput">
            <input name='minPrice' value="$0" type="text" id="minPrice" readonly>
            <input name='maxPrice' value="$50000" type="text" id="maxPrice" readonly>
          </div>
          <div id="priceSlider"></div>
        </div>
        <div class="rangeSlider">
          <label>Year range</label>
          <div class="sliderInput">
            <input name='minYear' value="2000" type="text" id="minYear" readonly>
            <input name='maxYear' value="2022" type="text" id="maxYear" readonly>
          </div>
          <div id="yearSlider"></div>
        </div>
      </div>
    </section>
  </form>
</div>
