<footer class="footer-container">
  <div class="footer-container__alerts">
    <h2 class="footer-container__alert">Seriously</h2>
      <p>
      At Backyard Wines, we love our wine, but we like to also lead long and
      happy lives, and be good to the world and the people in it. We all try
      to drink responsibly, in moderation, and we really hope you do too.
      Don’t be that person… Learn what is the right amount for you at
          therightamount.ca
      </p>
  </div>
  <div class="footer-container__icons">
    <img class="footer-container__icon" src="/images/instagram-icon.svg" alt="" />
    <img class="footer-container__icon" src="/images/fb-icon.svg" alt="" />
    <img class="footer-container__icon" src="/images/twitter-icon.svg" alt="" />
  </div>
  <div class="footer-cointainer__copyright">
    <h4>©2022 BackYard Wines, Inc. All Rights Reserved</h4>
  </div>
</footer>
