<nav class="nav">
  <div class="navTop">
    <div class="navTitle">
      <img src="https://i.imgur.com/9b9qLqG.png">
    </div>
    <div class="navRight">
      <span class="username">
        <%= name %>
      </span>
      <% if (name !== 'Guest') { %>
      <form action="/user/logout" method="POST" id="logout">
        <button type="submit" class="uButton">Logout</button>
      </form>
    </div>
  </div>
  <div class='navBottom'>
    <div id='newListing' class="newPost tabs">New Listing</div>
    <div id='listings' class="tabs">Listings</div>
    <div id='messages' class="tabs">Messages</div>
    <div id='favorites' class="tabs">Favorites</div>
    <div id='sold' class="tabs">Sold</div>
  </div>
</nav>
      <% } else { %>
        <button type="button" class="uButton" id="login">Login</button>
        <button type="button" class="uButton" id="signup">Sign Up</button>
    </div>
  </div>
</nav>
<% } %>

