<headers>
  <nav>
    <div class="navTitle">
      <div class="logo">LOGO</div>
      <span>CAR-D-B</span>
    </div>
    <div class="navSearch">
      <input placeholder="   Search..." />
      <button>Search</button>
      <div class="filter">
        Filter
        <i class="fa-solid fa-filter"></i>
      </div>
    </div>
    <div class="navRight">
      <span class="username">Username</span>
      <button>Logout</button>
    </div>
  </nav>
</headers>
