<headers>
<nav>
  <div class="navTitle">
    Logo
    <span>CAR-D-B</span>
  </div>
  <div class="navSearch">
    <input placeholder="Search">
    <button>Search</button>
  </div>
  <div class="navRight">
      <span class="username">Username</span>
      <button>Logout</button>
  </div>
</nav>
</headers>
