<nav>
  <div class="navTop">
    <div class="navTitle">
      <i class="logo fa-solid fa-car-rear"></i>
      <i class="logoBorder fa-solid fa-car-rear"></i>
      <span>CAR-D-B</span>
    </div>
    <div class="navRight">
      <span class="username">Username</span>
      <button>Logout</button>
    </div>
    <div class="newPost">
      <i class="fa-solid fa-plus"></i>
    </div> -->
    <div class="newPost tabs">New Listing</div>
    <div class="tabs">Listings</div>
    <div class="tabs">Messages</div>
    <div class="tabs">Favorites</div>
    <div class="tabs">Sold</div>
    </div>
  </nav>

  <div class="browse">
    <form action="/" method="GET" id="carSearch">

      <section class="searchBar">
        <input placeholder="   Search..." />
        <button type="submit">Search</button>
        <div class="filter">
          <i class="fa-solid fa-filter"></i>
        </div>
      </section>

      <section class="filterOptions">
        <div class="multiSelect">
          <div>
            <label for="carMake">Make</label>
            <select multiple class="carMake" name="carMake" id="carMake">
              <option value="Honda">Honda</option>
              <option value="Toyota">Toyota</option>
            </select>
          </div>
          <div>
            <label for="carModel">Model</label>
            <select multiple class="carModel" name="carModel" id="carModel">
              <option value="Civic" data-tag="Honda">Civic</option>
              <option value="Accord" data-tag="Honda">Accord</option>
              <option value="RAV4" data-tag="Toyota">RAV4</option>
              <option value="Highlander" data-tag="Toyota">Highlander</option>
            </select>
          </div>
          <div>
            <label for="transmission">Transmission</label>
            <select id="carTransmission">
              <option value="False">Automatic</option>
              <option value="True">Manual</option>
            </select>
          </div>
        </div>
        <div class="minMax">
          <div>
            <label for="year">Year</label>
            <input type="number" name="minYear" placeholder="Min" id="minYear" />
            <input type="number" name="maxYear" placeholder="Max" id="maxYear" />
          </div>
          <div>
            <label for="Price">Price</label>
            <input type="number" name="minPrice" placeholder="Min" id="minPrice"/>
            <input type="number" name="maxPrice" placeholder="Max" id="maxPrice"/>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="navBottom">
    <div class="newPost tabs">New Listing</div>
    <div id='listings' class="tabs">Listings</div>
    <div id='messages' class="tabs">Messages</div>
    <div id='favorites' class="tabs">Favorites</div>
    <div id='sold' class="tabs">Sold</div>
  </div>
</nav>