<headers>
<nav>
  <span class="navTitle">CAR-D-B</span>
  <div>Logo</div>
  <div>
    <input class="navSearch" placeholder="Search">
    <button>Search</button>
    <div>
      <span class="username">Username</span>
      <button>Logout</button>
    </div>
  </div>
</nav>

</headers>
