
<main class="main-container">
  <section class="main-container__content">
    <h1>SIP & SAVOUR <br> BC WINE<br> #Supportlocal</h1>
    <form method="GET" action="/wines">
      <button type="submit" class="button" > Enter Now</button>
    </form>
    </form>
  </section>
</main>
