<div class="messageBox">
  <div class="inbox"></div>
  
</div>

<div class="chatBox">
  <div class='chatFeed'>

  </div>
  <form class='chatText' action='/api/messages' method='POST'>
    <textarea placeholder='Send a reply' required></textarea>
    <button type='submit'>Send
    </button>
  </form>
</div>
