<div class="messageBox">
  <div class="inbox"></div>
  
</div>

<div class="chatBox">
  <form class='chatText' action='post' method='POST'>
    <textarea placeholder='Send a reply'></textarea>
    <button type='submit'>Send
    </button>
  </form>
</div>
