<div class="messageBox">
  <div class="inbox"></div>
  
</div>

<div class="chatBox">
  <div class='chatFeed'>

  </div>
  <form class='chatText' action='/api/messages/:id' method='POST'>
    <textarea id='chatText' name='text' placeholder='Send a reply' required></textarea>
    <button id='chatSend' type='submit'>Send
    </button>
  </form>
</div>
