<div class="messageBox">
  <div class="inbox"></div>
</div>

<div class="chatBox">
  <div class="senderMessage">
    <div class="senderID">sender_id:</div>
    <div class="messageID">
      message testing length of message to see if this looks good
    </div>
  </div>
  <div class="recieverMessage">
    <!-- <div class="recieverID">reciever_id:</div> -->
    <div class="messageID">
      response message 
    </div>
  </div>
</div>
