<div class="messageBox">
  <div class="inbox">
    <div class="message">user_id</div>
    <div class="message">user_id</div>
    <div class="message">user_id</div>
    <div class="message">user_id</div>
    <div class="message">user_id</div>
  </div>
</div>