<nav class="nav-bar" >
  <div class="nav-bar__logo">
    <img src="/images/Logo.png" alt="" />
  </div>

  <div class="nav-bar__selection">
    <div id="viewAllWines" class="items">View all wines</div>
    <div id="reds" class="items">Reds</div>
    <div id="whites" class="items">Whites</div>
  </div>

  <div class="nav-bar__user">
    <a href="" class="login" > Login</a>
      <!-- /
    <a href="#" class="join">Join</a> -->
  </div>

  <div class="nav-bar__buttons">
    <img class="search-btn" src="/images/search-bar.svg" alt="" />
    <img class="search-btn" src="/images/heart-icon.svg" alt="" />
    <img class="search-btn" src="/images/user-profile.svg" alt="" />
  </div>
</nav>
