<section class="newForm">
  <header>
    <h2>Create New Listing</h2>
    <p id="invalid"></p>
  </header>
  <form action="/api" method="post">
    <div>
      <label for="thumbnail">Thumbnail Image</label>
      <input
        placeholder="Thumbnail Image"
        type="text"
        name="imageURL"
        id="imageURL"
      />
    </div>
    <section class="makeModel">
      <div>
        <div>
          <label for="carMake">Make</label>
          <select name="make" id="make">
            <option value="">Select a Make</option>
            <option name="Honda" value="Honda">Honda</option>
            <option name="Toyota" value="Toyota">Toyota</option>
            <option name="Ford" value="Ford">Ford</option>
          </select>
        </div>
        <div>
          <label for="carMake">Model</label>
          <select name="model" id="model">
            <option value="" data-tag="">Select a Model</option>
            <option name="Civic" value="Civic" data-tag="Honda">Civic</option>
            <option name="Accord" value="Accord" data-tag="Honda">Accord</option>
            <option name="RAV4" value="RAV4" data-tag="Toyota">RAV4</option>
            <option name="Corolla" value="Corolla" data-tag="Toyota">Corolla</option>
            <option name="Fiesta" value="Fiesta" data-tag="Ford">Fiesta</option>
          </select>
        </div>
      </div>
      <div>
        <div>
          <label for="transmission">Transmission</label>
          <select name="transmission" id="transmission">
            <option value="">Select an Option</option>
            <option value="False">Automatic</option>
            <option value="True">Manual</option>
          </select>
        </div>
        <div>
          <label for="year">Year</label>
          <select name="year" id="year">
            <option value="">Select an Option</option>
          </select>
        </div>
      </div>
    </section>
    <div>
      <label for="price">Price</label>
      <input type="number" name="price" placeholder="Price" id="price" />
    </div>
    <div>
      <label for="color">Color</label>
      <input type="text" name="color" placeholder="Color" id="color" />
    </div>
    <div>
      <textarea
        placeholder="Description"
        name="descriptions"
        id="descriptions"
        cols="60"
        rows="5"
      ></textarea>
    </div>
    <section>
      <button type="submit">Create</button>
      <button type="reset">Cancel</button>
    </section>
  </form>
</section>
