<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CAR-D-B</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header><%- include('partials/_headers') %></header>

    <main>
      <div class="posts">
        <div class="carPhoto">car photo</div>
        <div class='postBox'>
          <div class="postTitle">Title</div>
          <div class="description">post filler</div>
        </div>
      </div>
      <div class="posts">
        <div class="carPhoto">car photo</div>
        <div class='postBox'>
          <div class="postTitle">Title</div>
          <div class="description">post filler</div>
        </div>
      </div>
      <div class="posts">
        <div class="carPhoto">car photo</div>
        <div class='postBox'>
          <div class="postTitle">Title</div>
          <div class="description">post filler</div>
        </div>
      </div>
     
    </main>
  </body>
</html>
