<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Home Page</title>

      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
      <link rel="stylesheet" href="/styles/header.css" type="text/css" />

      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include ./_partials/_header.ejs %>

    <div class="about">
      <h1 class="about-title">Sign Up for Free</h1>
      <h3 class="about-subtitle">Keep your life organized</h3>
      <p class="about-text">The ToDo List is the best way to keep your activities in check, and automatically sorts your ToDo's into 4 categories. Each category collects each of your tasks and allows you to mark them Important. Once you have completed the task at hand, you can mark it as completed, annd the activity will disappear.</p>
    </div>

    <hr>

    <h1>ToDo List</h1>
    <main>
      <section class="tasks">
        <div class="films">
          <h2>Films</h2>
          <div class="task">
            <div class="task_header">
              <input class="checkbox" type="checkbox" name="completed" value="completed">
              <h3>The Lord of the Rings</h3>
            </div>
            <div class="task_info">
              <p>Created On: 2018-07-26</p>
              <input class="checkbox" type="checkbox" name="important" value="important">
            </div>
          </div>
          <div class="task">
            <div class="task_header">
              <input class="checkbox" type="checkbox" name="completed" value="completed">
              <h3>Harry Potter</h3>
            </div>
            <div class="task_info">
              <p>Created On: 2018-07-26</p>
              <input class="checkbox" type="checkbox" name="important" value="important">
            </div>
          </div>
          <div class="task">
            <div class="task_header">
              <input class="checkbox" type="checkbox" name="completed" value="completed">
              <h3>Avatar</h3>
            </div>
            <div class="task_info">
              <p>Created On: 2018-07-26</p>
              <input class="checkbox" type="checkbox" name="important" value="important">
            </div>
          </div>
        </div>
      </section>

      <section class="tasks">
        <div class="books">
          <h2>Books</h2>
          <div class="task">
            <div class="task_header">
              <input class="checkbox" type="checkbox" name="completed" value="completed">
              <h3>The Catcher in the Rye</h3>
            </div>
            <div class="task_info">
              <p>Created On: 2018-07-26</p>
              <input class="checkbox" type="checkbox" name="important" value="important">
            </div>
          </div>
          <div class="task">
            <div class="task_header">
              <input class="checkbox" type="checkbox" name="completed" value="completed">
              <h3>Ulysses</h3>
            </div>
            <div class="task_info">
              <p>Created On: 2018-07-26</p>
              <input class="checkbox" type="checkbox" name="important" value="important">
            </div>
          </div>
        </div>
      </section>

      <section class="tasks">
        <div class="restaurants">
          <h2>Restaurants</h2>
          <div class="task">
            <div class="task_header">
              <input class="checkbox" type="checkbox" name="completed" value="completed">
              <h3>Fynn's of Temple Bar</h3>
            </div>
            <div class="task_info">
              <p>Created On: 2018-07-26</p>
              <input class="checkbox" type="checkbox" name="important" value="important">
            </div>
          </div>
        </div>
      </section>

      <section class="tasks">
        <div class="products">
          <h2>Products</h2>
          <div class="task">
            <div class="task_header">
              <input class="checkbox" type="checkbox" name="completed" value="completed">
              <h3>HDMI Cable</h3>
            </div>
            <div class="task_info">
              <p>Created On: 2018-07-26</p>
              <input class="checkbox" type="checkbox" name="important" value="important">
            </div>
          </div>
          <div class="task">
            <div class="task_header">
              <input class="checkbox" type="checkbox" name="completed" value="completed">
              <h3>Headphones</h3>
            </div>
            <div class="task_info">
              <p>Created On: 2018-07-26</p>
              <input class="checkbox" type="checkbox" name="important" value="important">
            </div>
          </div>
          <div class="task">
            <div class="task_header">
              <input class="checkbox" type="checkbox" name="completed" value="completed">
              <h3>Dry Erase Markers</h3>
            </div>
            <div class="task_info">
              <p>Created On: 2018-07-26</p>
              <input class="checkbox" type="checkbox" name="important" value="important">
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>

    </footer>
  </body>
</html>
