<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/login.css" type="text/css">
  <link rel="stylesheet" href="../styles/all-wines.css" type="text/css" />
  <link rel="stylesheet" href="../styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" type="text/css" />
  <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" type="text/css" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body class="main">
<header>
  <%- include('partials/_navbar') %>
</header>

<div class = "wrapper">

    <div class = "title-text">
        <div class = "title login">Login Form</div>
        <div class = "title signup">Signup From</div>
    </div>

    <div class = "form-container">
        <div class="slide-controls">
            <input type="radio" name="slider" id="login" checked>
            <input type="radio" name="slider" id="signup">            
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>       
            <div class="slide-tab"></div>    
        </div>
        <div class="form-inner">
            <form action="#" class="login">
                <div class="field">
                    <input type="text" placeholder="Email Address" required>
                    </div>
                <div class="field">
                    <input type="password" placeholder="Password" required>
                    </div>
                <div class="forgot"><a href="#">Forgot password?</a></div>
                <div class="field">
                    <input type="submit" value="Login">
                </div>
            </form>
            <form action="#" class="signup">
                <div class="field">
                    <input type="text" placeholder="Email Address" required>
                    </div>
                <div class="field">
                    <input type="password" placeholder="Password" required>
                    </div>
                <div class="field">
                    <input type="password" placeholder="Confirm Password" required>
                    </div>
                <div class="age">
                    <input type="checkbox" required>
                    <span class = "agetext">I am definitely a grown up (18 years or older)</span>
                </div>
                <div class="field">
                    <input type="submit" value="Signup">
                    </div>

            </form>

        </div>
    </div>
</div>
<script>
    const loginForm = document.querySelector("form.login");
    const signupForm = document.querySelector("form.signup");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    const loginText = document.querySelector(".title-text .login");
    const signupText = document.querySelector(".title-text .signup");

    signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%"
        loginText.style.marginLeft = "0%";
    })
</script>
<footer>
  <%- include('partials/_footer') %>
</footer>
</body>
</html>
