<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Personal User Page</title>
  </head>

  <body>
    <h1>Welcome USER</h1> <!--Input User Name/nickname here -->

  </body>
</html>
