<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>

        <script type="text/javascript" src="/scripts/app.js"></script>
    </head>

    <body>
      <% include ./_partials/_header.ejs %>

      <section>
        <form action="">
          <input type="text" name="firstName" placeholder="First Name" />
          <input type="text" name="lastName" placeholder="Last Name" />
          <input type="email" name="email" placeholder="Email" />
          <input type="username" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password" />
          <input type="tel" name="telephone" placeholder="Telephone Number">
          <input type="date" name="birthdate">
          <input type="text" name="address" placeholder="Address">
          <input type="checkbox">
          <button>Register</button> <!-- Agree to Terms -->
        </form>
      </section>
    </body>
</html>
