<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>

        <script type="text/javascript" src="/scripts/app.js"></script>
    </head>

    <body>

        <header>
        </header>

        <section>
            <form action="">
                <input type="text" name="firstName" placeholder="First Name" />
                <input type="text" name="lastName" placeholder="Last Name" />
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <input type="tel" name="telephone" placeholder="Telephone Number">
                <input type="date" name="birthdate">
            </form>
        </section>
    </body>
</html>
