<header class="header">
  <nav class="header-nav">
    <h1 class="header-nav_title">To Do List</h1>
    <form class="header-nav_login" method="POST" action="/login">
      <input class="nav-login_username" type="username" name="username" placeholder="Username"/>
      <input class="nav-login_password" type="password" name="password" placeholder="Password"/>
      <button class="nav-login_button">Login</button>
    </form>
    <form class="header-nav_register" method="GET" action="/register">
      <div>Don't have an account?</div>
      <button class="nav-register_button">Register</button>
    </form>
  </nav>
</header>
