<header>
    <nav>
        <h1>TO DO APP</h1>
        <form method="GET" action="/users/page"> <!-- watch out for action -->
            <input type="username" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button>Login</button>
        </form>
        <div>Don't have an account?</div>
        <button>Register</button> <!-- onclick redirect to register page -->
</header>
