<header class="header">
  <nav class="header-nav">
    <h1 class="header-nav_title">TO DO APP</h1>
    <form class="header-nav_login" method="GET" action="/:user">
      <input class="nav-login_username" type="username" name="username" placeholder="username"/>
      <input class="nav-login_password" type="password" name="password" placeholder="password"/>
      <button class="nav-login_button">Login</button>
    </form>
    <form class="header-nav_register" method="GET" action="/register">
      <div>Don't have an account?</div>
      <button class="nav-register_button">Register</button>
    </form>
  </nav>
</header>
