<div class="task">
  <div class="task_header">
    <input class="checkbox" type="checkbox" name="completed" value="completed">
    <h3><%= locals.task.task_name %></h3>
  </div>
  <a class="link" href="">https://www.ebay.com</a>
  <div class="task_info">
    <p>Created On: 2018-07-26</p>
    <input class="checkbox" type="checkbox" name="important" value="important">
  </div>
</div>
