body {
  background-color: #E8E9F3;
  padding-bottom: 15px;
  h1 {
    color: #580C1F;
    display: flex;
    justify-content: center;
    font-size: 60px;
  }
  .wine-listing {
    position: relative;
    background-color: white;
    height: 225px;
    width: 95%;
    left: 2.5%;
    border-radius: 25px;
    border: #580C1F solid 2px;
    .price {
      position: absolute;
      display: flex;
      height: 45px;
      width: 181px;
      background-color: #A7333F;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      left: 20%;
      top: 5px;
    }
    .year {
      position: absolute;
      display: flex;
      height: 45px;
      width: 181px;
      background-color: #A7333F;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      left: 20%;
      top: 60px;
    }
    .label {
      position: absolute;
      display: flex;
      height: 45px;
      width: 181px;
      background-color: #A7333F;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      left: 20%;
      top: 115px;
    }
    .award {
      position: absolute;
      display: flex;
      height: 45px;
      width: 181px;
      background-color: #A7333F;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      left: 20%;
      top: 170px;
    }
    .desc {
      position: absolute;
      display: flex;
      height: 29px;
      width: 208px;
      font-size: 35px;
      color: #A7333F;
      text-decoration: underline;
      left: 31%;
      top: 5px;
    }
    i {
      position: absolute;
      display: flex;
      right: 11%;
      top: 5px;
      font-size: 35px;
      color:#A7333F;
    }
    .favourite {
      position: absolute;
      font-size: 25px;
      right: 3%;
      top: 10px;
      color:#A7333F;
    }
    .actual-desc {
      position: absolute;
      width: 1250px;
      height: 180px;
      font-size: 25px;
      left: 31%;
      top: 75px;
    }
  }
}

