.main {
 background-color: #E8E9F3;
}

.title-contact {
  color: #580C1F;
  display: flex;
  align-items: center;
}

 h1 {
   color: #580C1F;
   display: flex;
   justify-content: center;
   font-size: 60px;
 }

 .wine-listing {
   position: relative;
   display: flex;
   background-color: white;
   height: 225px;
   left: 12.5%;
   width: 1400px;
   margin-bottom: 25px;
   border-radius: 25px;
   border: #580C1F solid 2px;
   justify-self: center;
 }

 .price {
   position: absolute;
   display: flex;
   height: 45px;
   width: 181px;
   background-color: #A7333F;
   color: white;
   justify-content: center;
   align-items: center;
   border-radius: 25px;
   left: 15%;
   bottom: 5%;
 }

 .year {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 25px;
   left: 31%;
   top: 160px;
 }

 .label {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 25px;
   left: 31%;
   top: 180px;
 }

 .award {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 25px;
   left: 31%;
   top: 200px;
 }

 .desc {
   position: absolute;
   display: flex;
   height: 29px;
   width: 300px;
   font-size: 25px;
   left: 31%;
   top: 5px;
 }

 i {
   position: absolute;
   display: flex;
   right: 3%;
   top: 5px;
   font-size: 35px;
   color:#A7333F;
 }

 .actual-desc {
   position: absolute;
   width: 750px;
   height: 180px;
   font-size: 17px;
   left: 31%;
   top: 40px;
 }

 .contact {
   position: absolute;
   right: 3%;
   display: flex;
   height: 45px;
   width: 181px;
   background-color: #A7333F;
   color: white;
   justify-content: center;
   align-items: center;
   border-radius: 25px;
   bottom: 10px;
   border: none;
 }

 .image {
   height: 150px;
   position: absolute;
   left: 7%;
   top: 35px;
 }

 .logo {
   height: 150px;
   position: absolute;
   left: 205px;
 }
