@import "./partials/mixins";

headers {
  @include flexColumn;
  align-content: center;
  width: 100%;


  .browse {
    display: flex;
    width: 100%;
    justify-content: center;


    #carSearch {
      @include flexColumn;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 60%;

      .searchBar {
        @include flexRow;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin-top: 3%;

        input {
          display: flex;
          width: 70%;
          outline: none;
          border: none;
          border-bottom: 2px solid black;
          background-color: transparent;
          margin: 0 2% 0 2%;
          padding: 5px;
        }

        button {
          padding: 5px;
          background-color: lightgreen;
          border: 1px solid black;
          border-radius: 5px;
          opacity: 0.7;
          &:hover {
            opacity: 1;
            transform: scale(1.1);
            cursor: pointer;
          }
        }

        .filter {
          opacity: 0.3;
          margin-left: 2%;
          &:hover {
            color: black;
            transform: scale(1.1);
            opacity: 1;
            cursor: pointer;
          }
        }
      }

      .filterOptions {
        display: none;
      }
    }
  }

// CREATE NEW LISTING

  .newForm {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: red;

    #invalid {
      display: none;
      justify-content: center;
      border: 2px solid black;
      color: black;
      padding: 5px;
    }

    label {
      margin-right: 10px;
    }

    div {
      margin: 5px 5px 5px 5px;

    }
    section {
      @include flexRow;
    }
  }

}
