@import "./partials/mixins";

.posts {
  border: solid;
  // border-right: none;
  width: 80vw;
  height: 35vh;
  margin: 5% 0 5% 0;
  background-color: #e4e4e4;
  @include flexRow;
  position: relative;

  .star {
    width: 4vw;
    color: grey;
    background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
  );
    border: solid;
    border-color: black;
    border-left-width: 0.2vw;
    border-right-width: 0.2vw;
    border-top-style: none;
    border-bottom-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .starButton {
    display: contents;
    align-items: center;
    background: local;
  }

  .carPhoto {
    max-width: 75%;
    max-height: 40vh;
    position: relative;
  }

  .postBox {
    @include flexColumn;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
  }

  .titlePrice {
    @include flexRow;
    width: 100%;
    justify-content: space-between;
    padding: 1vh;
    padding-right: 1%;
  }

  .postTitle {
    font-weight: bold;
  }

  .postPrice {
    color: rgb(87, 184, 43);
    opacity: 0.8;
    font-weight: bold;
  }

  .messageButtonContainer {
    @include flexRow;
    justify-content: end;
    padding-right: 5px;
  }

  .messageButton {
    border: solid;
    border-radius: 5px;
    padding: 0.5%;
    background-color: rgba(88, 184, 43, 0.714);
  }

  .description {
    height: 50%;
    width: 100%;
    padding-left: 1%;
    padding-top: 1%;
    margin-right: 5%;
    @include flexRow;
    justify-content: space-between;
  }

  &:hover {
    box-shadow: 0px 20px 16px 9px #45a6fc;
    transform: scale(1.1);
  }

  .sold {
    position: absolute;
    align-self: center;
    top: 50%;
    left: 0;
    border: double thick red;
    width: 100%;
    padding: 5px;
    color: red;
    background-color: #f7b0b069;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
  }

  .listingDelete {
    display: none;
    flex-direction: column;
    justify-content: end;
    height: auto;
    border: none;
    color: red;
    background-color: inherit;
  }

}
