@import "./partials/mixins";

.posts {
  border: solid;
  width: 80vw;
  height: 35vh;
  margin: 5% 0 5% 0;
  background-color: #e4e4e4;
  @include flexRow;
  position: relative;

  .star {
    width: 4vw;
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgb(183, 206, 233) 70%
    );
    border: solid;
    border-color: rgb(208, 218, 230);
    border-left-width: 0.1vw;
    border-right-width: 0.1vw;
    border-top-style: none;
    border-bottom-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1px 0.5px rgb(208, 218, 230);
  }

  .starButton {
    display: contents;
    align-items: center;
    background: local;
  }

  .favoriteTrue {
    color: red;
  }

  .carPhoto {
    max-width: 75%;
    max-height: 40vh;
    position: relative;
  }

  .postBox {
    @include flexColumn;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
  }

  .titlePrice {
    @include flexRow;
    width: 100%;
    justify-content: space-between;
    padding: 1vh;
    padding-right: 1%;
  }

  .postTitle {
    font-weight: bold;
  }

  .postPrice {
    color: rgb(87, 184, 43);
    opacity: 0.8;
    font-weight: bold;
  }

  .messageButtonContainer {
    @include flexRow;
    justify-content: end;
    padding-right: 5px;
  }

  .messageButton {
    border: solid;
    border-radius: 5px;
    padding: 0.5%;
    background-color: rgba(88, 184, 43, 0.714);
  }

  .description {
    height: 50%;
    width: 100%;
    padding-left: 1%;
    padding-top: 1%;
    margin-right: 5%;
    @include flexRow;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    box-shadow: 0px 20px 16px 9px #7cbef8;
    transform: scale(1.1);
  }

  .sold {
    position: absolute;
    align-self: center;
    top: 50%;
    left: 0;
    border: double thick red;
    width: 100%;
    padding: 5px;
    color: red;
    background-color: #f7b0b069;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
  }

  .listingDelete {
    display: none;
    flex-direction: column;
    justify-content: end;
    height: auto;

    &:hover {
      transform: scale(1.1);
    }
  }

  //create mixin for these ---
  .submitListingDelete {
    color: red;
    border: none;
    background-color: inherit;
    margin: 1%;
  }
  .listingSold {
    display: none;
    flex-direction: column;
    justify-content: end;
    height: auto;
    background-color: green;

    &:hover {
      transform: scale(0.9);
    }
  }
  .submitListingSold {
    color: rgb(255, 255, 255);
    border: none;
    background-color: inherit;
    margin: 1%;
  }
  //                      ---

}
