
.wrapper{
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.wrapper .title-text{
    display: flex;
    width: 200%;
}

.wrapper .title-text .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}

.form-container .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    margin:30px 0 10px 0;
    overflow: hidden;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.slide-controls label{
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    color: #fff;
}
.slide-controls .signup{
    color:#000;

}
.age {
    margin-top: 5%;
}

.slide-controls .slide-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: #74121D;
}

input[type="radio"]{
    display:none;
}

#signup:checked ~ .slide-tab{
    left: 50%;
}

#signup:checked ~ .signup{
    color: #fff;
}

#signup:checked ~ .login{
    color: #000;
}

.form-container .form-inner{
    display: flex;
    width: 200%;
}

.form-container .form-inner form{
    width: 50%;
}

.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    border-color: #74121D;
    transition: all 0.1s ease;
}

.form-inner form .field input:focus{
    border-color: #74121D;
    border-width: 3px;
}

.form-inner form .forgot{
    margin-top: 5px;
}

.form-inner form .forgot a{
    color: black;
    text-decoration: none;
}
.form-inner form .forgot a:hover{
    text-decoration: underline;
}

form .field input[type="submit"]{
    color: #fff;
    font-size: 20px;
    background: #74121D;

}